{% load static %}
{% load socialaccount %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <script src="{% static 'js/scripts.js' %}" defer></script>
</head>
<body>
    <!--messages-->
    {% if messages %}
    {% for message in messages %}
    <div class="messages">
        <img class="message-icon" src="{% static 'icons/sign.svg' %}" alt="{{ message.tags }}">
        <div class="message">
            <p class="message-paragraph">{{ message }}</p>
        </div>
        <span class="message-close error"></span>
    </div>
    {% endfor %}
{% endif %}
    <!--end messages-->
    <div class="container">
        <div class="card center spacer">
            <h1 class="title text-center">Login With</h1>
            <div class="social-login">
                <button class="social-btn">
                    <img class="icon" src="{% static 'icons/gmail.svg' %}" alt="gmail icon">
                    <a href="{% provider_login_url 'google' %}">Google</a>
                </button>
                <button class="social-btn">
                    <img class="icon" src="{% static 'icons/facebook.svg' %}" alt="gmail icon">
                    Facebook
                </button>
            </div>
            <div class="text-center line form-divider">or</div>
                <form method="POST" actione="." class="login-form spacer" id="login-form"> 
                    {% csrf_token %} 
                        <div class="input-group"> 
                            <img class="icon input-icon" src="{% static 'icons/envelope.png' %}" alt=""> 
                            {{form.email}} 
                        </div> 
                        <div class="input-group"> 
                            <img class="icon input-icon" src="{% static 'icons/key.svg' %}" alt=""> 
                            {{form.password1}} 
                        </div> 
                        <div class="input-group"> 
                            <img class="icon input-icon" src="{% static 'icons/key.svg' %}" alt=""> 
                            {{form.password2}} 
                        </div> 
                        <input type="submit" class="submit" value="Login"> 
                    </form> 
        </div>
    </div>
    <div class="redirect">
        <br><br>
        <a href="forgot-password.html" class="link">Forgot password?</a>
    </div>
</body>
<script>
    document.addEventListener('DOMContentLoaded', (event) => {
        const messages = document.querySelector('.messages');
        const closeBtn = document.querySelector('.message-close');
        if (messages) {
            messages.style.display = 'flex'; // Make messages visible
        }
        if (closeBtn) {
            closeBtn.addEventListener('click', () => {
                messages.style.display = 'none'; // Hide messages when close button is clicked
            });
        }
    });
    </script>
</html>